<!DOCTYPE>
<html>
<head>
<meta name="description" content="Ticket Resale : Sell Movie and Bus Tickets">
<meta name="description" content="Tickets, Bus Tickets, Movie Tickets, Resale">
<title>Ticket Resale</title>
</head>
<body>
<header>
<img src="/assets/images/logo.png" alt="Ticket Resale"/>
</header>
<div id="content">
<h1>You want to</h1>
<div><button class="btn">Buy Tickets</button></div>
<div><button class="btn">Sell Tickets</button></div>
</div>
</body>
</html>
