<!DOCTYPE>
<html>
<head>
<meta name="description" content="Ticket Resale : Sell Movie and Bus Tickets">
<meta name="description" content="Tickets, Bus Tickets, Movie Tickets, Resale">
<title>Ticket Resale</title>
</head>
<body>
<header>
<img src="/assets/logo.png" alt="Ticket Resale" id="logo"/>
</header>
<div id="content">
<table>
<th>Sl.No</th>
<th>Movie</th>
<th>Theatre</th>
<th>Date</th>
<th>From</th>
<th>To</th>
<th>Place</th>
<th>Sold by</th>
<tr>
<td>1</td>
<td>Bahubaali</td>
<td>Luxe Screen.1</td>
<td>26/07/2015</td>
<td>9.00 pm</td>
<td>11.00 pm</td>
<td>Phoenix Mall</td>
<td>Ganesh</td>
</tr>
<tr>
<td>1</td>
<td>Skyfall</td>
<td>Luxe Screen.1</td>
<td>26/07/2015</td>
<td>9.00 pm</td>
<td>11.00 pm</td>
<td>Phoenix Mall</td>
<td>Prass</td>
</tr>
<tr>
<td>1</td>
<td>Modern Times</td>
<td>Luxe Screen.1</td>
<td>26/07/2015</td>
<td>9.00 pm</td>
<td>11.00 pm</td>
<td>Phoenix Mall</td>
<td>Dwarak</td>
</tr>
<tr>
<td>1</td>
<td>Modern Times</td>
<td>Luxe Screen.1</td>
<td>26/07/2015</td>
<td>9.00 pm</td>
<td>11.00 pm</td>
<td>Phoenix Mall</td>
<td>Siva G</td>
</tr>
</table>
</div>
</body>
</html>
