<!DOCTYPE>
<html>
<head>
<meta name="description" content="Ticket Resale : Sell Movie and Bus Tickets">
<meta name="description" content="Tickets, Bus Tickets, Movie Tickets, Resale">
<title>Ticket Resale</title>
</head>
<body>
<header>
<img src="/assets/logo.png" alt="Ticket Resale" id="logo"/>
</header>
<div id="content">
<div><input type="text" id="movie" /></div>
<div><input type="text" id="theatre" /></div>
<div><input type="text" /></div>
<div><input type="text" /></div>
<div><input type="text" /></div>
</div>
</body>
</html>
