// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,200italic);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
//	border-collapse: collapse;
	border-spacing: 0;
}

body
{
  background-color: white;
  font-family: Source Sans Pro;
}

header
{
  height: 200px;
  background-color: #27ae60;
}

.logoAnimation{

}

#logoNormal{
		display: block;
		margin-left: auto;
		margin-right: auto;
		-webkit-transition-property: all;
		-webkit-transition-duration: 1s;
}

#logoNormal:target{
		width:200px;
		margin-left: 0;
		margin-right: 0;
}

#content
{
  text-align: center;
  width:1000px;
  margin:0px auto;
	top:50px;
	position: relative;
}

.btn{
  margin: 2px;
  font-size: 14px;
  font-weight: 200;
}

button
{
  border:1px solid #27c160;
  background-color: #27af60;
  padding:10px;
  cursor: pointer;
  transition-duration: 0.35s;
  outline: none;
  width: 150px;
}

button:hover
{
  background-color: #27be60;
  border:1px solid #27e360;
  color: white;
}

table {
		top:6px;
    border-collapse:separate;
    border:solid #27c160 1px;
    border-radius:6px;
    -moz-border-radius:6px;
		font-weight: 200;
}

td, th {
    border-left:solid #27c160 1px;
    border-top:solid #27c160 1px;
		padding: 8px;
}

th {
    background-color: #27ae60;
    border-top: none;
		padding: 8px;
}

td:first-child {
     border-left: none;
}

tr:hover{
		background-color: #27be60;
		border:1px solid #27e360;
		cursor: pointer;
		color:white;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #27c160;
		font-weight: 100;
		opacity: 1;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    white;
		font-weight: 100;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    white;
		font-weight: 100;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    white;
		font-weight: 100;
}

/*
table
{
  font-family:  Source Sans Pro;
	border-spacing: 0;
	border-radius:6px;
	-moz-border-radius:6px;
}

th
{
  background-color: #27bb60;
  border:1px solid #27be60;
  padding:8px;
}
tr
{
  background-color: #27af71;
	border-radius: 10px;
}
td
{
  padding: 8px;
	border:1px solid #27be60;
}

th:first-child
{
	border-top-left-radius: 5px;
}
th:last-child
{
	border-top-right-radius: 5px;
}
table tr:last-child td:first-child
{
	border:1px solid #27be60;
	border-bottom-left-radius: 5px;
}
table tr:last-child td:last-child
{
	border:1px solid #27be60;
	border-bottom-right-radius: 5px;
}
*/
// Login Page
.txtBox{
  outline: none;
  height: 15px;
  width: 230px;
  border:1px solid #27c160;
  color: white;
	font-size: 12px;
  font-weight: 400;
  padding: 10px;
  background-color: #27af71;
  letter-spacing: 2px;

}

.txtBox:focus{
  border:1px solid white;
  transition: 0.15s;
}


#leftSplit{
  display: inline-block;
  border-right:1px solid #27c160;
  box-sizing: border-box;
  width: 49%;
}

#rightSplit
{
  box-sizing: border-box;
  display: inline-block;
  width: 50%;
}

#rightSplit > *
{
  margin: 5px;
}

.sgnbtn
{
  width: 200px;
}
